body {
  background-color: black;
  overflow: hidden;
  margin: 0;
  -webkit-app-region: drag;
}

.controls-container {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  margin: 1rem;
}

.progress-bar {
  background-color: white;
  height: 0.5rem;
  width: 100%;
  margin: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.45rem;
  border-radius: 0.25rem;
  font-size: 0.5rem;
}

.progress-bar .filler {
  background-color: #f79420;
  height: 100%;
  width: 0%;
  display: inline-block;
  border-radius: 0.25rem;
}

.progress-bar .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: #f79420;
  display: inline-block;
  transform: translate(-0.25rem, -0.25rem);
}

.control {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  filter: invert(1);
}
.control svg {
  height: 2rem;
  width: 2rem;
}


#mainVideo{
    width: 100%;
}